body {
  font-family: sans-serif;
  background-color: #ffffff;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1fb264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824b;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #85a8ef;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all 0.2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #5b88e3;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #8eaff0;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
  margin-top: 20px;
}

.drag-text {
  text-align: center;
}

.drag-text h4 {
  font-weight: 100;
  text-transform: uppercase;
  color: #5b88e3;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 330px;
  max-width: 330px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 185px;
  margin: 0;
  color: #fff;
  background: #7599e0;
  border: none;
  padding: 10px;
  border-radius: 8px;
  border-bottom: 4px solid #5b88e3;
  transition: all 0.2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #4f75c2;
  color: #ffffff;
  transition: all 0.2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all 0.2s ease;
}

.nav-distance {
  padding: 2.1% 7.7%;
}

.navbar-brand {
  line-height-step: 1.68;
  text-align: left;
  color: #35465d;
}

.navbar-toggler {
  color: #ffffff;
  border-color: #ffffff;
}

.section {
  margin-top: 50px;
}

.title {
  font-weight: 700;
  color: #35465d;
  text-align: center;
}
.sutitle {
  margin-top: 20px;
  font-weight: 300;
  color: #35465d;
  text-align: center;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

.result-message {
  color: #5f92f9;
}

.cloud-label {
  width: 30%;
  text-align: left;
  height: 2rem;
}

.label-container {
  width: 80%;
  margin: 0 auto;
}
.result-message {
  font-size: 2rem;
}

.label {
  cursor: pointer;
  display: inline-block;
  width: 90px;
  height: 41px;
  box-shadow: 0 0 0 8px #e5e9ea inset;
  border-radius: 30px;
  position: relative;
}

.bar-container {
  height: 2.7rem;
}

.clo1-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.clo1-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.clo2-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(117, 204, 84, 0.2);
}
.clo2-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(117, 204, 84, 1);
}
.clo3-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(27, 175, 234, 0.2);
}
.clo3-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(27, 175, 234, 1);
}
.clo4-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(251, 176, 59, 0.2);
}
.clo4-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(251, 176, 59, 1);
}
.clo5-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(195, 140, 102, 0.2);
}
.clo5-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(195, 140, 102, 1);
}
.clo6-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(49, 132, 155, 0.2);
}
.clo6-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(49, 132, 155, 1);
}
.clo7-box {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(235, 166, 190, 0.2);
}
.clo7-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 2rem;
  border-radius: 10px;
  background-color: rgba(235, 166, 190, 1);
}
.percent-text {
  font-size: 1rem;
  color: #ac3535;
}
